@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Bebas+Neue&family=Cairo:wght@300;400&family=Roboto:ital,wght@1,300&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

/* whatsapp*/

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}

/* instagram */

.bi-instagram {
  color: rgb(218, 210, 210);
  font-size: 2rem;
}




/* VARIABLES */
/** MAPS **/
.pd-fix {
  padding: 0px;
}

.pd-top-20 {
  padding: 20px 0 0 0;
}

.pd-bot-20 {
  padding: 0 0 20px 0;
}

/** MAP GET **/
/* GLOBALES */
.white {
  color: white;
}

.text-left {
  text-align: left;
  padding-top: 0;
}

.fix-gutter {
  --bs-gutter-x: 0;
}

.underline {
  text-decoration: underline;
}

.margin {
  margin: 0 5px 0 5px;
}

.bg-opacity {
  background-color: rgba(0, 0, 0, 0.486);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

body {
  height: 100%;
}

/* PARTIALS */
.logo {
  padding: 0;
  margin: 0;
  height: 70px;
  margin-left: 5px;
  margin-right: 5px;
}

.footer {
  color: white;
  height: 20px;
  padding: 0%;
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .footer {
    text-align: center;
  }
}

/* VIEWS */
/** SE APLICA GRID **/
.index-main {
  background-image: url("../public/img/fondo3.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.index-main-principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "primeraCaja segundaCaja";
}

.index-main-title {
  text-align: center;
  text-decoration: underline;
  padding: 30px 30px 40px 30px;
}

.index-main-description {
  text-align: center;
  font-size: 20px;
  padding: 0px 30px 25px 30px;
}

.index-main-h2 {
  text-align: center;
  padding: 0px 30px 110.5px 30px;
  font-size: 35px;
  color: white;
}

.index-main-h2 :hover {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.486);
  transition-duration: 1.5s;
}

.index-main-link {
  color: white;
  text-decoration: none;
}

.index-main-caja1 {
  grid-area: primeraCaja;
}

.index-main-bg,
.index-main-caja2 {
  background-color: rgba(0, 0, 0, 0.486);
}

.index-main-caja2 {
  padding-top: 50px;
  grid-area: segundaCaja;
  height: 100%;
}

@media only screen and (max-width: 925px) {
  .index-main-principal {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "segundaCaja";
  }

  .index-main-caja1 {
    display: none;
  }

  .index-main-caja2 {
    text-align: center;
  }

  .index-main-title {
    text-decoration: underline;
    padding: 70px 0 40px 0px;
  }

  .index-main-description {
    margin: 0% 20% 0 20%;
  }

  .index-main-h2 {
    padding: 0px 30px 180px 30px;
    font-size: 35px;
    color: white;
  }
}

/*****Promociones******/

.ref-main {
  background-image: url(../public/img/fondo3.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: white;
}

.ref-main-bg {
  background-color: rgba(0, 0, 0, 0.486);
}

.ref-main-title {
  padding-top: 30px;
  text-decoration: underline;
}

.ref-main-img {
  width: 480px;
  height: 150px;
  padding: 0 0 0px 0;
  border: 2px solid #efff10;
  border-radius: 30px;
  margin-bottom: 40px;
}

/******SERVICIOS*****/

.serv-main {
  background-image: url(../public/img/fondo3.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: white;
}

.serv-main-title {
  padding-top: 30px;
  text-decoration: underline;
}

.serv-main .img-1 {
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.486);
}

.serv-main .card-1 {
  background-color: rgba(0, 0, 0, 0.486);
}

.serv-main .img-2 {
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.486);
}

.serv-main .card-2 {
  background-color: rgba(0, 0, 0, 0.486);
}

.serv-main .img-3 {
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.486);
}

.serv-main .card-3 {
  background-color: rgba(0, 0, 0, 0.486);
}


/******contacto******/

.contact-main {
  background-image: url(../public/img/fondo7.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.contact-main-bg {
  background-color: rgba(0, 0, 0, 0.486);
}

.contact-main-box1 {
  height: 100%;
  padding: 19px 0 65px 80px;
  text-align: center;
  color: white;
}

.contact-main-box-2 {
  padding: 25px 0 65px 50px;
  color: white;
}

.contact-main-t {
  padding: 15px 0 25px 10px;
  color: white;
  text-align: center;
}

.contact-main-d {
  font-size: 20px;
  padding: 0px 30px 60px 30px;
  color: white;
}

@media only screen and (max-width: 992px) {
  .contact-main-box1 {
    padding: 5px 10% 0 10%;
  }

  .contact-main-box2 {
    padding: 0ds 10% 22px 20%;
    color: white;
  }
}

/********GALERIA*******/

.about-main {
  background-image: url(../public/img/fondo3.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: white;
}

.about-main-bg {
  background-color: rgba(0, 0, 0, 0.486);
}

.about-main-title {
  padding-top: 25px;
  text-decoration: underline;
}

.about-main-title2 {
  padding-top: 20px;
  text-decoration: underline;
}

.about-main-description {
  padding-bottom: 20px;
}

.about-main-card {
  background-color: rgba(0, 0, 0, 0);
}

.about-main-img {
  height: 250px;
  width: 250px;
  text-align: center;
  border-radius: 70%;
}

.about-main-image {
  width: 65%;
  height: 350px;
  text-align: center;
  border: 2px solid #efff10;
  margin-bottom: 50px;
}

@media only screen and (max-width: 992px) {
  .about-main-image {
    width: 100%;
  }
}